@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #f3f3f3; /* Light mode bg */
}

/* Dark mode support logic can be added later */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #1e1e1e;
        color: #ffffff;
    }
}
